@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: red;
    font-family: "Poppins", serif;
    color: red;
}

.main_con { min-height: 400px; display: flex;justify-content: center;align-items: flex-start;} 
main { background: #fff; }

.main_info{margin: 50px 0 0;}
.main_info h2{font-size: 40px;text-transform: uppercase;}
.bottom { margin: 0px 0px 0px;}
.bottom_con{min-height: 250px;}
.bottom_boxes:before{/*! content: url(cute_sticker.png); */position: absolute;left: 50%;transform: translateX(-50%);top: -210px;}
.bottom_boxes{max-width: 600px;margin: -60px auto 0;display: flex;align-items: center;justify-content: space-between;background: #fff;min-height: 250px;box-shadow: 0 0 6px rgba(0,0,0,0.2);border-radius: 20px;padding: 40px;position: relative;}
.bottom_boxes section{background: #fff;width: 25%;text-align: center;border: 2px solid red;border-radius: 10px;color: #000;}
.bottom_boxes section a{text-decoration: unset;line-height: 40px;width: 100%;height: 100%;display: block;color: unset;}
.sticker {   position: absolute;   top: -210px;   left: 0;    right: 0;margin: 0 auto;width: 244px;}

.bottom_boxes section:hover{background: red;color: #fff;}

.bottom_boxes section:hover {
    /*! transform: translateX(10px); */
    /*! transition: transform 0.3s ease-in-out; */
}